body{
    background-color: green;
}

form{
    background-color: red;
    height: 60vh;
    width: 40%;
    border-radius: 20px;
}

label{
    font-weight: bold;
}

form #inseritore{
    width: 60%;
    height: 10%;
    border-radius: 20px;
    text-align: center;
}

form #invia-btn{
    height: 10%;
    border-radius: 20px;
}

form{
    text-align: center;
}

.cose-aggiunte{
    background-color: rgb(174, 174, 255);
    font-weight: bold;
    width: 80%;
    display: inline-block;
    text-align: left;
}

.bottoncione{
    width: 15%;
    height: 3vh;
    border-radius: 20px;
    background-color: rgb(222, 65, 65);
    margin-left: 70%;
}


.completed{
    background-color: black;
}